@model Queima.Web.App.Models.Artista

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Biografia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biografia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAtuacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAtuacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FacebookUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacebookUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagemPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagemPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Palco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Palco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpotifyUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpotifyUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwitterUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwitterUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
